version: '3.5'
services:
  db:
    image: postgres
    ports:
      - 5470:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    deploy:
      resources:
        limits:
          cpus: '0.75'
          memory: '1.5GB'
