version: '3.5'
services:
  db:
    image: postgres
    ports:
      - 5470:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    deploy:
      resources:
        limits:
          cpus: '0.75'
          memory: '1.5GB'

  redis:
    image: redis:7-alpine
    container_name: gateway-cache
    ports:
      - 6380:6379
    volumes:
      - redis_data:/data

  redis-insight:
    image: redis/redisinsight
    container_name: redis-insight
    ports:
      - 5540:5540
    depends_on:
      - redis

volumes:
  redis_data:
